.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 90%;
  height: 90%;
}

button {
  margin-top: 25px;
  color: white;
  background-color: black;
  border-radius: 10%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: #E6DADA;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #274046, #E6DADA);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #274046, #E6DADA); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  background-image: url("../../assets/parede.jpg");
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}